/* Loader container*/
.loader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  z-index: 9999;
  align-items: center;
}

/* Dark mode background override */
.dark-mode .loader-content {
  background-color: var(--background-dark);
}

/* Logo styling and animation*/
.loader-logo {
  width: 200px;
  height: 200px;
  animation: fadeIn 0.5s ease-in-out infinite alternate;
}

/* Fade animation keyframes*/
@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}