* text=auto

*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript

*.jsx linguist-detectable=true
*.js linguist-detectable=true

*.jsx linguist-language=React
*.json linguist-language=JSON
*.config.js linguist-language=JavaScript

*.md linguist-documentation
README.md linguist-documentation