.not-found {
  text-align: center;
  padding: 4rem 1rem;
}

.not-found h1 {
  font-size: 6rem;
  color: var(--text-light);
  margin: 0;
  line-height: 1;
}

.dark-mode .not-found h1 {
  color: var(--text-secondary);
}

.not-found h2 {
  font-size: 2.5rem;
  color: var(--text-light);
  margin: 1rem 0;
}

.dark-mode .not-found h2 {
  color: var(--text-secondary);
}

.not-found p {
  font-size: 1.2rem;
  color: var(--text-secondary);
  max-width: 500px;
  margin: 1rem auto 2rem;
}

.home-link {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #3498db;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #2980b9;
}

@media (max-width: 767px) {
  .not-found {
    padding: 9rem 1rem 25rem 1rem;
  }

  .not-found h1 {
    font-size: 4rem;
  }

  .not-found h2 {
    font-size: 1.8rem;
    margin: 0.8rem 0;
  }

  .not-found p {
    font-size: 1rem;
    max-width: 350px;
    margin: 0.8rem auto 1.5rem;
  }

  .home-link {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .not-found {
    padding: 9rem 1rem 25rem 1rem;
  }

  .not-found h1 {
    font-size: 4rem;
  }

  .not-found h2 {
    font-size: 1.8rem;
    margin: 0.8rem 0;
  }

  .not-found p {
    font-size: 1rem;
    max-width: 350px;
    margin: 0.8rem auto 1.5rem;
  }

  .home-link {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}